footer {
  padding-top: 10rem;
 .grid {
   display: grid;
   margin: auto;
   max-width: $containerMaxWidth;
   padding: 0 $pagePaddingDesktop 8rem ;
   grid-template-columns: repeat(2, 1fr);
   .github {
     text-align: left;
   }
   .copy {
     text-align: right;
   }
 }
}