.header-wrapper {
  position: relative;
  margin: 0 auto;
  &.homepage {
    margin: -6% auto -.1rem;
    min-height: 13rem;
  }
  .header-fixer {
    margin: 0 auto;
    header {
      max-width: $pageMaxWidth;
      margin: 0 auto;
      position: relative;
      padding: 7% $pagePaddingMobile;
      .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: skewY(-6deg);
        background: $backgroundDarkGradient;
      }
      .container {
        z-index: 69;
        position: relative;
        margin: auto;
        max-width: $containerMaxWidth;
        display: grid;
        gap: 1rem;
        .logo {
          align-self: end;
          img {
            max-width: 15rem;
          }
        }
        .claim {
          text-transform: uppercase;
          text-align: center;
          font-weight: 900;
          padding-bottom: 2rem;
          transform: skewY(-6deg);
          .light {
            margin-bottom: .2rem;
            display: inline-block;
            padding: .5rem;
            font-size: 2.2rem;
            background: #ffffff;
            line-height: 90%;
            color: $textDarkBlue;
            box-shadow: $buttonShadow;
          }
          .dark {
            display: inline-block;
            margin: auto;
            padding: .7rem;
            font-size: 4.2rem;
            line-height: 90%;
            background: $textLightBlue;
            color: $textDarkBlue;
            box-shadow: $buttonShadow;
          }
        }
        .menu-toggl {
          text-align: center;
        }
        nav {
          display: none;
          transform: skewY(-6deg);
          .nav-btn {
            font-size: 1.3rem;
            font-weight: 100;

            &.bold {
              font-weight: 900;
            }
          }
          &.show {
            display: block;

            .nav-btn {
              display: block;
              text-align: center;
              padding: 1.5rem;
            }
          }
        }
      }
      @media (min-width: $mobileBreakpoint) {
        padding: 0 $pagePaddingDesktop;
        .container {
          grid-template-columns: auto 1fr;
          grid-template-rows: 10rem 2rem;

          .claim {
            //justify-self: end;
            position: relative;
            top: -3rem
          }

          nav {
            position: relative;
            top: -2rem;
            grid-column: 1/3;
            display: flex;
            gap: 1rem;
            justify-content: space-between;

            &.show {
              display: flex;

              .nav-btn {
                padding: 0;
                display: inline-block;
              }
            }
          }

          .menu-toggl {
            display: none;
          }
        }
      }
    }
  }
  &.fixed {
    z-index: 1000;
    .header-fixer {
      //margin-top: 6%;
      position: fixed;
      top: -4rem;
      left: 0;
      right: 0;
      header {
        padding-top: 5rem;
        .background {
          box-shadow: 0 5px 5px #00000033;
        }
        .container {
          .logo {
            img {
              max-width: 7rem;
            }
          }
          .claim {
            display: none;
          }
        }
      }
    }
    @media (min-width: $mobileBreakpoint) {
      .header-fixer {
        top: -10rem;
        header {
          .container {
            .logo {
              position: relative;
              top: 2rem;
              img {
                max-width: 15rem;
              }
            }
            .claim {
              display: block;
              justify-self: start;
              align-self: end;
              top: 3rem;
              .light {
                font-size: .7rem;
              }
              .dark {
                font-size: 1rem;
              }
            }
            nav {
              top: -.5rem;
            }
          }
        }
      }
    }
  }
}