{% extends "base.html.twig" %}

{% block content %}
    <div class="header-wrapper fixed">
        <div class="header-fixer">
            <header>
                <div class="background"></div>
                <div class="container">
                    <div class="logo">
                        <img src="{{ asset("build/website/img/logo.svg") }}" alt="">
                    </div>
                    <div class="claim">
                        <div class="light">Česká třebová</div>
                        <br>
                        <div class="dark">Město pro život</div>
                    </div>
                    <div class="menu-toggl">
                        menu
                    </div>
                    <nav class="">
                        <a href="#" class="nav-btn bold">Dokázali jsme</a>
                        <a href="#" class="nav-btn bold">Prosadíme</a>
                        <a href="#" class="nav-btn">naši lidé</a>
                        <a href="#" class="nav-btn">témata které řešíme</a>
                        <a href="#" class="nav-btn bold">Uvidíme se?</a>
                        <a href="#" class="nav-btn">názory</a>
                        <a href="#" class="nav-btn">Napište nám!</a>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    <div class="content">
        <h1>sadfasdf</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu condimentum neque, egestas volutpat libero. Mauris ultricies aliquam lorem sit amet finibus. Nulla facilisi. Sed congue erat imperdiet quam bibendum, in dapibus quam ornare. Etiam eu orci elementum, hendrerit enim ut, consequat purus. Nunc posuere aliquet ipsum, et mollis eros consequat in. Pellentesque sed efficitur enim. Nullam bibendum augue vitae sagittis porta. Morbi volutpat sem ut justo gravida, id volutpat elit eleifend.
        </p>
    </div>
{% endblock %}
