{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <h1>sadfasdf</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu condimentum neque, egestas volutpat libero. Mauris ultricies aliquam lorem sit amet finibus. Nulla facilisi. Sed congue erat imperdiet quam bibendum, in dapibus quam ornare. Etiam eu orci elementum, hendrerit enim ut, consequat purus. Nunc posuere aliquet ipsum, et mollis eros consequat in. Pellentesque sed efficitur enim. Nullam bibendum augue vitae sagittis porta. Morbi volutpat sem ut justo gravida, id volutpat elit eleifend.
        </p>

        <div style="height: 20rem"></div>

        {% include 'components/blocks/program.html.twig' %}

        {% include 'components/blocks/calendar.html.twig' %}

        {% include 'components/blocks/article-list.html.twig' %}
    </div>
{% endblock %}
