<div class="section-header">
    <div class="background" id="nazory"></div>
    <div class="container">
        <h2>Naše názory</h2>
    </div>
</div>
<div class="gallery">
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <div class="move-top">
            <div class="btn primary large">Kam ve volbach</div><br>
            <div class="btn secondary">Více</div>
        </div>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <div class="move-top">
            <div class="btn primary large">Do budoucnosti</div><br>
            <div class="btn secondary">Více</div>
        </div>
    </div>
    <div class="block">
        <img src="{{ asset('build/website/img/test.jpeg') }}" alt="">
        <div class="move-top">
            <div class="btn primary large">Bořek je borec</div> <br>
            <div class="btn secondary">Více</div>
        </div>
    </div>
</div>
