<div class="calendar" id="kalendar">
    <h3>Uvidíme se?</h3>
    <div class="title">
        <h2>Nad Kohoutem o Třebové</h2>
        <h3>s kandidáty ODS <br>do Zastupitelstva města</h3>
    </div>
    <div class="date">
        <div class="day">4.</div>
        <div class="month">Září</div>
        <div class="year">2022</div>
    </div>
    <div class="place">
        pivovar a restaurace
        <h2>Faltus</h2>
        Česká Třebová
    </div>
    <div class="event">

        <table>
            <tr>
                <td>14.00</td>
                <td>Začátek akce</td>
            </tr>
            <tr>
                <td>15.00</td>
                <td>Pohádka O líném Kubovi</td>
            </tr>
            <tr>
                <td>16.00</td>
                <td>Koncert Poutníci</td>
            </tr>
            <tr>
                <td>18.00</td>
                <td style="width: 100%">Předpokládaný konec akce </td>
            </tr>
        </table>
        <p class="baits">
            Po celou dobu konání k dispozici skákací hrad <br><br>
            (nejen) Pro děti jsou připraveny drobné dárky <br> (balonky, zmrzlina a další)<br><br>
            (nejen) Pro tatínky prvních 200 Kohoutů zdarma
        </p>
    </div>
</div>
