<div class="calendar" id="kalendar">
    <h2>Uvidíme se?</h2>
    <p>asdfasdfsadfsadf</p>
    <div class="date">
        <div class="day">4</div>
        <div class="month">Září</div>
        <div class="year">2022</div>
    </div>
    <div class="event">
        <h2>Pivovar FALTUS</h2>
        <h3>
            Kapela <br>
            program
        </h3>
    </div>
</div>
