<div class="calendar" id="kalendar">
    <h3>Uvidíme se?</h3>
    <div class="event">
        <h2>Nad Kohoutem o Třebové</h2>
        <h3>s kandidáty ODS <br>do Zastupitelstva města</h3>
    </div>
    <div class="date">
        <div class="day">4</div>
        <div class="month">Září</div>
        <div class="year">2022</div>
    </div>
    <div class="event">
        pivovar a restaurace
        <h2>Faltus</h2>
        Česká Třebová 4/9 2022
        <table>
            <tr>
                <td>14.00</td>
                <td>začátek akce</td>
            </tr>
            <tr>
                <td>15.00</td>
                <td>pohádka O líném Kubovi</td>
            </tr>
            <tr>
                <td>16.00</td>
                <td>koncert Poutníci</td>
            </tr>
            <tr>
                <td>18.00</td>
                <td>předpokládaný konec akce</td>
            </tr>
        </table>
        <p>
            po celou dobu konání k dispozici skákací hrad <br>
            (nejen) pro děti jsou připraveny drobné dárky – balonky, zmrzlina a další <br>
            (nejen) pro tatínky prvních 200 Kohoutů zdarma
        </p>
    </div>
</div>
