<div class="section-header first">
    <div class="background"></div>
    <div class="container text-center">
        <h2>Dokázali jsme</h2>
        <p>V minulých obdobích jsme zařídili</p>
    </div>
</div>
<div class="gallery">
    {% for element in randomDone  %}
        <a href="{{ path(element.path) }}" class="block link">
            <img src="{{ asset(element.photo) }}" alt="">
            <div class="move-top">
                <div class="btn secondary">{{ element.text[0] }}</div> <br>
                <div class="btn primary large">{{ element.text[1] }}</div>
            </div>
        </a>
    {% endfor %}
</div>
