{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <div class="container">

            <p>Zasadíme se o:</p>
            <h1>ČISTÉ MĚSTO</h1>
            <p class="pb2 bb mb3 left">Navýšíme počet míst na <span class="text-highlight">tříděný odpad</span> společně s počtem komodit pro třídění. V roce 2022 se ve městě
                realizovaly úpravy a rozšíření kontejnerových stání za 2 mil. Kč.</p>

            <p class="pb2 bb mb3 right">Po dlouhých 15 letech se nám podařilo prosadit zavedení sběru <span class="text-highlight">tříděného odpadu přímo z domácností</span>. Nádoby na
                třídění jsme nakoupili za cca 7 mil. Kč.</p>
            <p class="pb2 bb mb3 left">Podporujeme výstavbu <span class="text-highlight">dotřiďovací linky</span> v areálu skládky Třebovice.</p>
            <p class="pb2 bb mb3 right">Prosadili jsme studii proveditelnosti zařízení na energetické využití směsného komunálního odpadu - <span class="text-highlight">ZEVO</span>. Ve
                výstavbě zařízení chceme i nadále pokračovat, abychom směsný komunální odpad energeticky využili.</p>
            <p class="pb2 bb mb3 left">Zajistili jsme <span class="text-highlight">výstavbu kompostárny</span> v areálu skládky Třebovice za bezmála 50&nbsp;mil.&nbsp;Kč.</p>
            <p class="pb2 bb mb3 right">Prosadili jsme, že do systému odpadového hospodářství mohou vstupovat i právnické subjekty.</p>
            <p class="pb2 bb mb3 left">Stali jsme se vzorem a pilotním projektem pro další města v republice.</p>
            <p class="pb2 bb mb3 right">Po letech soukromého provozu krematorium převzala společnost EkoBi. Upravili jsme jeho provoz. Do objektu
                jsme <span class="text-highlight">investovali 18,7 mil. Kč</span> (včetně nové kremační linky schválené v rozpočtu města na letošní rok).</p>
            <p class="pb2 bb mb3 left">Od 90. let jsme prosazovali, aby městem vlastněná Vodárenská společnost provozovala vodovody a kanalizace v
                našem městě. Toto jsme splnili!</p>

            <div style="height: 10rem" id="dokazali-jsme"></div>
            <h2>Dokázali jsme pro ekologii</h2>
            <div class="gallery">
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Recyklace</div> <br>
                    </div>
                    <p class="text-left mb3">Zajistili jsme výstavbu kompostárny v areálu skládky Třebovice za bezmála 50 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Recyklace</div> <br>
                    </div>
                    <p class="text-left">Prosadili jsme studii proveditelnosti ZEVO, na jehož výstavbě chceme i nadále pokračovat.</p>
                    <p class="text-left mb3">Jenom v roce 2022 se ve městě realizují zřízení, úpravy a rozšíření kontejnerových stání za 2 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Protipovodňová opatření</div> <br>
                    </div>
                    <p class="text-left">V rámci protipovodňových opatření bylo investováno bezmála 8 mil. Kč na úpravy koryta Třebovky.</p>
                    <p class="text-left mb3">Vznikla retenční nádrž Benátky za 2,7 mil. Kč, k výstavbě je nachystána retenční nádrž Borek (schváleno v rozpočtu města na rok 2022 – 5,8 mil. Kč).</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Krematorium</div> <br>
                    </div>
                    <p class="text-left mb3">Po více než 10 letech jsme prosadili převzetí městského krematoria městskou společností EkoBi. Upravili jsme jeho provoz. Do objektu bylo investováno 18,7 mil. Kč (včetně nové kremační linky schválené v rozpočtu města na letošní rok).</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Vodovody a kanalizace</div> <br>
                    </div>
                    <p class="text-left mb3">Od 90. let jsme prosazovali, aby městem vlastněná Vodárenská společnost provozovala vodovody a kanalizace v našem městě. Což jsme splnili!</p>
                </div>
            </div>



            <div style="height: 10rem" id="prosadime"></div>
            <h2>Prosadíme pro ekologii</h2>

            <div class="gallery">
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Recyklace</div> <br>
                    </div>
                    <p class="text-left mb3">Podporujeme výstavbu haly pro dotřiďovací linku v areálu skládky Třebovice. Na její technologii jsme získali dotaci. Celkové náklady na její stavbu podle již vypracované dokumentace ke stavebnímu povolení jsou vyčísleny na 69,4 mil. Kč, technologie by měla být pořízena za 23,5 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Zevo</div> <br>
                    </div>
                    <p class="text-left">Prosadili jsme studii proveditelnosti zařízení na energetické využití směsného komunálního odpadu. Ve výstavbě zařízení chceme i nadále pokračovat, abychom směsný komunální odpad energeticky využili. Náklady na její vybudování jsou podle studie vyčísleny na 1310,7 mil. Kč.</p>
                </div>
            </div>

            <div style="height: 20rem"></div>

        </div>
        {% include 'components/blocks/program.html.twig' %}

        {% include 'components/blocks/calendar.html.twig' %}

        {% include 'components/blocks/article-list.html.twig' %}
    </div>
{% endblock %}
