{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <div class="container">

            <h1>Město s vizí</h1>

            <p>Máme vizi živé České Třebové.</p>

            <p>Jsme zodpovědní, nikoli populističtí.</p>
            <p>V letech 2018 – 2022 bylo v České Třebové investováno 500 milionů korun kromě běžných oprav a údržby.</p>
            <p>Naše vize se jmenuje: MĚSTO PRO ŽIVOT!</p>

            <div style="height: 20rem"></div>
        </div>

        {% include 'components/blocks/program.html.twig' %}

        <br><br><br>
    </div>
{% endblock %}
