{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <div class="container">

            <p>Zasadíme se o:</p>
            <h1>MĚSTO CHODCŮ A ŘIDIČŮ</h1>
            <p class="pb2 bb mb3 left">Trváme na stavbě <span class="text-highlight">obchvatu města</span> ve spojení s přivaděčem R35.</p>
            <p class="pb2 bb mb3 right">Budeme pokračovat v <span class="text-highlight">rekonstrukcích vozovek i&nbsp;chodníků</span> ve městě.</p>
            <p class="pb2 bb mb3 left">Prosadíme zřízení <span class="text-highlight">rezidenčního stání</span> vymezeného modrými pruhy po vzoru větších měst.</p>
            <p class="pb2 bb mb3 right">Rozšíříme počty <span class="text-highlight">parkovacích míst</span> na sídlišti Trávník.</p>
            <p class="pb2 bb mb3 left">Vybudujeme <span class="text-highlight">záchytné parkoviště ve Slovanské ulici</span> u Korada a <span class="text-highlight">nové parkoviště na Trubech.</span></p>
            <p class="pb2 bb mb3 right">Jako součást rekonstrukce Nového náměstí navrhujeme <span class="text-highlight">dvoupatrové podzemní parkoviště</span>.</p>
            <p class="pb2 bb mb3 left">Prosadíme jednosměrný provoz ve vybraných ulicích, tím získáme <span class="text-highlight">nová parkovací místa</span> (kolmá/podélná).</p>
            <p class="pb2 mb3 right">Dlouhodobě prosazujeme <span class="text-highlight">vybudování cyklostezky</span> Čtverec – sídliště Lhotka podél MŠ U Stadionu, krytého bazénu a
                ZŠ Ústecká.</p>


            <div style="height: 10rem" id="dokazali-jsme"></div>
            <h2>Dokázali jsme pro dopravu</h2>
            <p>V minulém volebním období bylo do oprav městských chodníků, komunikací a parkovišť investováno 120,7 mil. Kč!</p>
            <p>Na území města je také státní komunikace I/14, která je udržována a opravována ŘSD. Na území města jsou také krajské komunikace (Litomyšlská, Podbranská, Lidická – tzv. Skuhrovská, Kubelkova a tzv. Pod Mosty do Semanína), které udržuje a opravuje Pardubický kraj.</p>
            <p>Mnohé investice do komunikací jsou tzv. vynucené – např. v součinnosti s opravou I/14 jsme provedli opravy chodníků podél ní a výměnu veřejného osvětlení. Stejně tak tomu bylo u oprav krajských silnic.</p>
            <p>Obdobně je tomu při pracích ČEZu. Tam kde ČEZ snáší vysoké napětí a ukládá ho do země, my v návaznosti na jeho práce opravujeme komunikace a chodníky, aby se celá ulice vždy rekonstruovala jako celek během jedné akce.</p>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_done/DSC_8155.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">dopravní terminál</div> <br>
                    </div>
                    <p class="text-left mb3">Investovalo se také do dopravního terminálu, zde celkové náklady dosáhly částky 1,7 mil. Kč. Šlo o výměnu a doplnění osvětlení, opravu infokiosku a modernizaci parkovacího systému.</p>
                </div>
            </div>
            <div class="gallery">
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">chodníky, komunikace a parkoviště</div> <br>
                    </div>
                    <p class="text-left mb3">V uplynulých 4 letech město investovalo do oprav chodníků, silnic a parkovišť 81,8 mil. Kč. Jednalo se např. o rekonstrukce ulic Na Skalce, Křib, Felixova, Dukelská, Litomyšlská (chodník a VO), Tyršovo náměstí, Semanínská, I/14 (chodníky), Podbranská, Smetanova, Podbranská – Lidická, nábřeží Míru – U Podhorky, Smetanova – Riegrova (chodník), Brožíkova, Grégrova, Tykačova; cyklostezka ČT – Rybník; parkoviště Stacionář Lhotka, ZUŠ Kozlovská, Felixova, Borek.</p>
                </div>
                <div class="block">
                    <div class="move-top">
                        <div class="btn secondary large">veřejné osvětlení</div> <br>
                    </div>
                    <p class="text-left mb3">Ruku v ruce s investicemi do komunikací je také rekonstrukce či výměna veřejného osvětlení. Celkové investiční náklady dosáhly v této kapitole 37,2 mil. Kč. Jednalo se např. o ulice I/14, Kozlovská, Husova, Podbranská, Lhotka, Javorka, Parník, Komenského, Na Chmelnici – Školní, Na Milíři, Vinohrady, Litomyšlská, Luční – Jiráskova, Grégrova.</p>
                </div>
            </div>


            <div style="height: 10rem" id="prosadime"></div>
            <h2 class="mb3">Prosadíme v dopravě</h2>
            <p>Do fáze dokumentace pro územní řízení je připravena rekonstrukce ulice Semanínská, která by měla stát 19,6 mil. Kč. Do fáze dokumentace pro stavební povolení jsou dovedeny rekonstrukce chodníků a VO na ulici Kubelkova za 12 mil. Kč.</p>
            <div class="gallery">
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_plans/dsc-8158.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Parkování Trávník</div> <br>
                    </div>
                    <p class="text-left mb3">Dokumentaci pro provedení stavby má rozšíření parkovacích míst a zřízení nových míst na sídlišti Trávník a na Novém náměstí. Investice je spočítána na 14,7 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="{{ asset('build/website/img/photos_plans/obchvat.jpg') }}" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Obchvat města</div> <br>
                    </div>
                    <p class="text-left mb3">Trváme na stavbě obchvatu města ve spojení s přivaděčem R35.</p>
                </div>
            </div>

            <div style="height: 20rem"></div>
        </div>


        {% include 'components/blocks/program.html.twig' %}

        <br><br><br>
    </div>
{% endblock %}
