{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/layouts/menu.html.twig' with { homepage:  false } %}
    <div class="content">
        <div class="container">

            <h1>TRANSPARENTNÍ MĚSTO</h1>
            <p class="pb2 bb mb3 left" >Již několik volebních období prosazujeme <span class="text-highlight">osobní zodpovědnost</span> vedení a rady města za práci jednotlivých odborů městského úřadu, což jsme v plné míře v posledním období dodrželi. Trváme na tom i nadále.</p>
            <p class="pb2 bb mb3 right">Chceme, aby občané byli <span class="text-highlight">srozumitelně informováni</span> o dění na radnici a znali důvody jednotlivých rozhodnutí města. V posledních 4 letech jsme toto důsledně dodržovali. Podporovali jsme veřejná projednávání a k informování veřejnosti jsme využívali sociální sítě, celostátní i místní tisk (Českotřebovské noviny, Zpravodaj).</p>
            <p class="pb2 bb mb3 left">Zavedli jsme <span class="text-highlight">participativní rozpočet</span> pro Českou Třebovou ve výši 0,5 mil. Kč.</p>
            <p class="pb2 bb mb3 right"><span class="text-highlight">Navýšili</span> jsme položky participativního rozpočtu přidružených obcí ze 400 tis. Kč na 500 tis. Kč (o využití rozhodují osadní výbory). Pro další období navrhujeme navýšení celkové sumy všech participativních rozpočtů o 20% na 600 tis. Kč.</p>

            <div style="height: 10rem" id="dokazali-jsme"></div>
            <h2>Dokázali jsme pro transparentnost</h2>
            <div class="gallery">
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Skuhrov</div> <br>
                    </div>
                    <p class="text-left mb3">Největší akcí za 1,2 mil Kč je v letošním roce realizace zázemí sportovního areálu.</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Kozlov</div> <br>
                    </div>
                    <p class="text-left mb3">Dvěma největšími akcemi je rekonstrukce sálu čp. 1 za 0,9 mil. Kč a oprava jedné z místních komunikací za 1,2 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Svinná</div> <br>
                    </div>
                    <p class="text-left mb3">Ve Svinné bylo investováno 2,8 mil Kč (oprava hřbitovní zdi, vybudování přístřešku s kioskem, oprava místní komunikace).</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Lhotka</div> <br>
                    </div>
                    <p class="text-left mb3">Na Lhotce jsme nad rámec rozpočtu zafinancovali opravu hřbitovní zdi za 0,8 mil. Kč.</p>
                </div>
                <div class="block">
                    <img src="/build/website/img/test.b19db03c.jpeg" alt="">
                    <div class="move-top">
                        <div class="btn secondary large">Participativní rozpočet</div> <br>
                    </div>
                    <p class="text-left mb3">Letos budou realizovány 3 malé a 2 velké projekty: lavičky a koše v parku na Zámostí, venkovní stůl na stolní tenis u gymnázia a lavičky a koše v parku u krematoria. Z velkých projektů pak budou realizovány projekty vratných městských kelímků a revitalizace Jiráskovy cesty.</p>
                </div>
            </div>

            <div style="height: 20rem"></div>
        </div>

        {% include 'components/blocks/program.html.twig' %}

        {% include 'components/blocks/calendar.html.twig' %}

        {% include 'components/blocks/article-list.html.twig' %}
    </div>
{% endblock %}
