$textLightBlue: #18C5F4;
$textDarkBlue: #0646A5;
$buttonShadow: 6px 6px 6px #000000aa;

$backgroundDark: #1B3C89;
$backgroundDarkGradient: linear-gradient(90deg, #1B3C89 14.06%, #0D1D43 83.01%);
$backgroundLight: #0059B8;
$backgroundLightGradient: linear-gradient(90deg, #0059B8 0%, #0084DE 100%);
