@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed';
  font-style: italic;
  font-weight: 100;
  src: url('../../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
}
