.content {
  .calendar {
    padding: 10rem $pagePaddingDesktop;
    text-align: center;
    .date {
      padding: .5rem $pagePaddingMobile 1rem;
      display: inline-block;
      text-align: center;
      transform: skewY(-6deg);
      .day {
        display: inline-block;
        line-height: 6rem ;
        font-size: 4rem;
        font-weight: 900;
        width: 6rem;
        background: #ffffff;
        color: $textDarkBlue;
        box-shadow: $buttonShadow;
      }
      .month {
        font-size: 3rem;
        line-height: 100%;
        padding-top: 1rem;
        text-transform: uppercase;
        font-weight: 900;
      }
      .year {
        font-size: 2rem;
        line-height: 100%;
        color: $textLightBlue;
        font-weight: 900;
      }
    }
    .event {
      transform: skewY(-6deg);
      font-weight: 900;
      h3 {
        color: $textLightBlue;
      }
      table {
        margin: 1rem auto;
        text-align: left;
        font-weight: 100;
        font-size: 1.5rem;
        line-height: 120%;
        border-spacing: 1rem;
      }
    }
  }
}