.content{
  .gallery {
    z-index: 100;
    position: relative;
    max-width: $containerMaxWidth;
    margin: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
    padding: $pagePaddingMobile;
    .block {
      text-align: center;
      .move-top {
        position: relative;
        top: -3rem;
      }
    }
    a.block {
      transition: all .2s;
      position: relative;
      z-index: 50;
      &:hover {
        z-index: 100;
        text-decoration: none;
        background: $textLightBlue;
        color: $textDarkBlue;
        outline: 20px $textLightBlue solid;
        transform: scale(1.1);
      }
    }
    @media (min-width: 45rem) {
      .block {
        width: calc(50% - 1rem);
      }
    }
    @media (min-width: 70rem) {
      .block {
        width: calc(33.33% - 1.4rem);
      }
    }
  }
}
