.hero {
  max-width: $pageMaxWidth;
  position: relative;
  margin: 0 auto 0;
  .background {
    background: url("../../../img/heroes/hero_3.jpg") top center;
    background-size: cover;
    min-height: 80vh;
  }
  @media (max-aspect-ratio: 5/4) {
    .background {
      min-height: auto;
      padding-bottom: 66%;
    }
  }
}