.content {
  .monsters {
    max-width: $containerMaxWidth;
    margin: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    row-gap: 3rem;
    &.big {
      .monster {
        text-align: center;
        width: 32%;
      }
    }
    &.small {
      .monster {
        text-align: center;
        width: 19%;
      }
    }
  }
}