.content {
  .monsters {
    max-width: $containerMaxWidth;
    margin: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    row-gap: 3rem;
    .monster {
    }
    &.big {
      .monster {
        text-align: center;
        width: 32%;
        transition: all .2s;
        position: relative;
        z-index: 50;
        &:hover {
          z-index: 100;
          text-decoration: none;
          background: $textLightBlue;
          color: $textDarkBlue;
          outline: 20px $textLightBlue solid;
          transform: scale(1.1);
        }
      }
    }
    &.small {
      .monster {
        text-align: center;
        width: 19%;
      }
    }
  }
}