<footer>
    <h2 class="text-center">Kontakt</h2>
    <p class="text-center">Jsme tady pro vás</p>

    <hr>
    <div class="grid">
        <div class="github">
            <a href="https://github.com/odsceskatrebova/communal-election-website-2022">Našli jste chybu?</a>

        </div>
        <div class="copy">
            &copy; 2022 ODS
        </div>
    </div>
</footer>
