<div class="header-wrapper {{ (homepage)? 'homepage' }}">
    <div class="header-fixer">
        <header>
            <div class="background"></div>
            <div class="container">
                <div class="logo">
                    <img src="{{ asset("build/website/img/logo.svg") }}" alt="">
                </div>
                <div class="claim">
                    <div class="light">Česká třebová</div>
                    <br>
                    <div class="dark">Město pro život</div>
                </div>
                <div class="menu-toggl">
                    menu
                </div>
                <nav class="">
                    <a href="#" class="nav-btn bold">Dokázali jsme</a>
                    <a href="#" class="nav-btn bold">Prosadíme</a>
                    <a href="#" class="nav-btn">naši lidé</a>
                    <a href="#" class="nav-btn">témata které řešíme</a>
                    <a href="#" class="nav-btn bold">Uvidíme se?</a>
                    <a href="#" class="nav-btn">názory</a>
                    <a href="#" class="nav-btn">Napište nám!</a>
                </nav>
            </div>
        </header>
    </div>
</div>
