<div class="header-wrapper {{ (homepage)? 'homepage' : 'fixed' }}">
    <div class="header-fixer">
        <header>
            <div class="background"></div>
            <div class="container">
                <a href="/" class="logo">
                    <img src="{{ asset("build/website/img/logo.svg") }}" alt="">
                </a>
                <div target="_blank" class="claim">
                    <div class="light">Česká třebová</div>
                    <br>
                    <div class="dark">Město pro život</div>
                </div>
                <a href="{{ asset('build/website/files/ods_2022_brozura.pdf') }}" target="_blank" class="number">
                    <div class="do">Volte</div>
                    <div class="what">4</div>
                    <div class="when">23. a 24. září</div>
                </a>
                <div class="menu-toggl">
                    <div class="line top"></div>
                    <div class="line middle"></div>
                    <div class="line bottom"></div>
                </div>
                <nav class="">
                    <a href="/dokazali-jsme" class="nav-btn bold">Dokázali jsme</a>
                    <a href="/prosadime" class="nav-btn bold">Prosadíme</a>
                    <a href="/#nasi-lide" class="nav-btn">Naši lidé</a>
                    <a href="/#program" class="nav-btn">Témata které řešíme</a>
                    <a href="/#kalendar" class="nav-btn bold">Uvidíme se?</a>
{#                    <a href="/#nazory" class="nav-btn">názory</a>#}
                    <a href="/#kontakt" class="nav-btn">Napište nám!</a>
                </nav>
            </div>
        </header>
    </div>
</div>
